<% unless @chatrooms.empty? %>
	<% @chatrooms.each do |chatroom| %>
		<div class="p-6 my-4 bg-gray-200 rounded-lg" data-controller="revealable">
			<div class="flex">
				<%= link_to chatroom.name, "#", class: "flex-grow mr-6 font-medium text-lg text-gray-900 hover:underline" %>
				<%= inline_svg_tag "more_options.svg", class: "flex-shrink-0 h-6 w-6 text-gray-600 fill-current", data: { action: "click->revealable#toggle" } %>
			</div>
			<div class="hidden mt-2" data-target="revealable.revealedElement">
				Blah blah blah links
			</div>
		</div>
	<% end %>
<% else %>
	<%= inline_svg_tag "add_channel.svg", class: "mt-6 mb-4 mx-auto h-auto w-full max-w-md" %>
	<p class="text text-medium text-center tracking-wide my-6 lg:text-xl lg:tracking-normals">
		Add a chatroom and get chatting!				
	</p>
<% end %>
