<% unless flash.empty? %>
	<% flash.each do |flash_type, flash_message| %>
		<div data-controller="flash" class="py-4 w-full border-b border-t border-b text-center <%= flash_type %>">
			<%= content_tag :p, flash_message %>
		</div>
	<% end %>
<% end %>
